<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Piyush's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/piyush.png" alt="Piyush's Profile Picture" height="150" width="150"></td>
        <td>
          <h1>Piyush Vyawahare</h1>
          <p><em>Application Development Head at <strong><a href="https://www.instagram.com/codingclub_rscoe/">CCRSCOE</a></strong></em></p>
          <p>I am an andorid developer. I love coding. I'm DSA lover.</p>
        </td>
      </tr>
    </table>
    <hr>
    <h3>Education</h3>
    <ul>
      <li><strong>JSPM's Rajarshi Shahu College of Engineering</strong></li>
      <ul>
        <li>B.Tech Computer Engineering</li>
        <li>Present - 2023</li>
      </ul>
      <br>
      <li><strong>Sir Parashurambhau (SP) College</strong></li>
      <ul>
        <li>XII Science</li>
        <li>2017 - 2019</li>
      </ul>
    </ul>
    <hr>
    <h3>Skills</h3>
    <table>
      <tr>
        <td>
          <table cellspacing="10">
            <tr>
              <td>C++</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Python</td>
              <td>⭐⭐⭐⭐</td>
            </tr>
          </table>
        </td>
        <td>
          <table cellspacing="10">
            <tr>
              <td>Android</td>
              <td>⭐⭐⭐</td>
            </tr>
            <tr>
              <td>Kotlin</td>
              <td>⭐⭐⭐</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contacts.html">Contact me</a>
  </body>
</html>
